* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  margin: 0px 5px;
}

ul {
  list-style: none;
}
